/* Global Styles-------------------------------------------------------------------------------------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 1600px;

}

/*Header Styles-------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.logo {
    margin-top: 32px;
    margin-left: 55px;
    margin-right: 31px;
}

.header-container {
    display: flex;
    justify-content: center;
}

.vertical-social-links-container {
    height: 680px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.left-social-links {
    display: flex;
    gap: 100px;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.left-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
    color: #303030;
    transform: rotate(-90deg);
    text-decoration: none;
}

.left-link:hover {
    color: #FF6C00;
}

.base-container {
    width: 1070px;
    height: 680px;
    background-color: green;
    background-image: url("../images/image1.jpg");
    background-size: cover;
}

.top-links {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.navigation-container {
    display: flex;
    gap: 30px;
    margin-left: 100px;
    margin-top: 52px;
}

.navigation-link {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-decoration: none;
    display: inline-block;
}

.navigation-link:hover {
    color: #FF6C00;
}

.contacts-container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    margin-top: 40px;
    align-items: center;
}

.contact-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
}

.contact-link:hover {
    color: #FF6C00;
}

.online-booking-button {
    padding: 12px 20px;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0);
    align-self: flex-start;
}

.online-booking-button:hover {
    background-color: #FF6C00;
}